body {
    background-color: #9400D3;
    margin: 0;
    overflow: hidden;
}

.desplazamiento {
    background-color: azure;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    animation: move 20s linear infinite, colores 2s linear infinite; /* Ambas animaciones con la misma duración y ciclo infinito */
}
/*.colores { 
    
    background-color: yellow;
    animation-name: colores;
    animation-duration: 2s;
    animation-iteration-count: infinite; /* Agregado para repetir infinitamente */*/



h1{
    font-size: 4em;
    text-align: center;
    color: black;
    animation: voltear; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

@keyframes move {
    0%, 100% {
        transform: translateY(0) translateX(0);
    }
    10% {
        transform: translateX(-45vw);
    }
    25% {
        transform: translateY(-45vh);
    }
    40% {
        transform: translateY(45vh);
    }
    50% {
        transform: translateX(45vw);
    }
    65% {
        transform: translateY(-45vh);
    }
    80% {
        transform: translateY(45vh);
    }
    90% {
        transform: translateX(-45vw);
    }
}


@keyframes colores { 
                   0%{background-color: aqua;}
                   25%{background-color: brown;}
                   50%{background-color:red;}
                   70%{background-color: darkgreen;}
                   80%{background-color: rgb(3, 255, 3);}
                   90%{background-color: rgb(228, 253, 0);}
                   100%{background-color: rgb(231, 231, 231);}
}
/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    .desplazamiento {
        font-size: 1.5em;
    }
}